.login-screen {
  background: #31ef97;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase; /* strictly lowercase */
  padding: 20px;
}

.login-header h2 {
  color: #ffffff;   /* make it white */
  font-size: 28px;
  font-weight: bold;
}

.login-form input {
  background: #1a1a1a;
  color: white;
  border: 1px solid #333;
}

.login-form input::placeholder {
  color: #777;
}

.toggle {
  color: #ddd;
}

.massive-heading {
  font-size: 6rem; /* huge and raw */
  line-height: 0.8;
  color: #f4b400; /* industrial yellow */
  margin-bottom: 50px;
}


.massive-input {
  display: block;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background: #230202;
  border: 5px solid #333;
  color: #fff;
  font-size: 2.5rem;
  outline: none;
}

.action-btn {
  width: 100%;
  padding: 30px;
  background: #f4b400;
  color: #e83232;
  border: none;
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
}

.exit-btn {
  background: transparent;
  color: #3bf81a;
  border: none;
  font-size: 1.5rem;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: underline;
}

.submit-btn-type {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 20px;
  background: rgb(59, 217, 11);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
}