.navbar {
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center;        /* Vertically centers items */
    padding: 16px 50px;
    gap: 50px;                  /* Space between logo, menu, and button */
    box-shadow: 0 1px 3px -2px red;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0; /* Prevents default paragraph spacing from pushing text down */
}

.nav-menu {
    display: flex;       /* Added: This puts your menu items in a row */
    list-style: none;    /* Removes bullet points */
    gap: 30px;           /* Space between Parts, Auto care, etc. */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-item {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
    color:#444;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #ff4141;
}

.custom-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0;
    background: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding-top: 10px;
    list-style: none;
    border-top: 3px solid #ff4141;
    animation: fadeIn 0.3s ease;
}

.dropdown-link {
    padding: 12px 20px;
}

.dropdown-link a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-link:hover {
    background: #f8f8f8;
}


.nav-menu li {
    white-space: nowrap;
    cursor: pointer;
    font-style: italic;
    font-size: 18px;
}

.login-btn {
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
}


.nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: auto; /* This pushes the login button to the far right */
    gap: 25px;
}

.car-container {
    position: relative;
}

.nav-menu hr{
    border: none;
    width: auto;
    height: 3px;
    border-radius: 10px;
    background: rebeccapurple;
}

.nav-cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: #ff4141;
    color: white;
    font-size: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to {opacity: 1; transform: translateY(0); }
}

.mobile-menu-icon {
    display: none;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu {display: none; }
    .mobile-menu-icon {display: block; } 
} 