.navbar {
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center;        /* Vertically centers items */
    padding: 16px 50px;
    gap: 50px;                  /* Space between logo, menu, and button */
    box-shadow: 0 1px 3px -2px red;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0; /* Prevents default paragraph spacing from pushing text down */
}

.nav-menu {
    display: flex;       /* Added: This puts your menu items in a row */
    list-style: none;    /* Removes bullet points */
    gap: 30px;           /* Space between Parts, Auto care, etc. */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-menu li {
    white-space: nowrap;
    cursor: pointer;
    font-style: italic;
    font-size: 18px;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    margin-left: auto; /* This pushes the login button to the far right */
}

.nav-menu hr{
    border: none;
    width: auto;
    height: 3px;
    border-radius: 10px;
    background: rebeccapurple;
}